{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td>
                {{#title}}
                    <a href="/articles/{{id}}">{{title}}</a>
                {{/title}}
                {{^title}}
                    제목이 없습니다
                {{/title}}
            </td>
            <td>
                {{#content}}
                    {{content}}
                {{/content}}
                {{^content}}
                    내용이 없습니다
                {{/content}}
            </td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">New Article</a>

{{>layouts/footer}}
